body {
    font-family: 'Open Sans';
}

.hero {
    background-image: url(img/faded-office.png); 
    background-size: cover;
    padding: 10px 0 100px 10px;  
    width: 100;
    border: 3px solid;
}

.hero h1 p {
    text-align: right;
}

.hero-right {
    text-align: left;
    width: 200px;
    word-spacing: 2px;
    line-height: 22px;
}

#underline {
    border-bottom: 4px solid #0ea5e9;
}

#btn {
    padding: 8px 16px;
    border-style: none;
    background-color: #0ea5e9;
    color: white;
    font-family: inherit;
}